h1 {
    text-align: center;
}

a {
    text-decoration: none;
}


.tables .others {
    width: calc(100vw * 0.80);
    height: calc(100vw * 0.10);
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
  }