@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
    font-family: 'Noto Sans JP', sans-serif;

  }

  h2 {
    background-color: rgb(134,134,134);
  }

@media screen and (max-width: 480px) {
  h1 {
    text-align: left;
  }

  h2 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw * 0.99);
    height: 4vh;
    padding: 10px;
  }

  a {
    text-decoration: none;
  }

  div {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw * 0.99);
    height: 3vh;

    padding: 10px;
  }


  h3 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw * 0.99);
    height: 3.5vh;
    background-color: rgb(134, 134, 134);
    padding: 10px;
    text-decoration: none;
  }
  html {
    font-size: 2vh;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  h1 {
    text-align: left;
  }
  
  a {
    text-decoration: none;
  }

  h2 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw * 0.85);
    height: 4vh;
    padding: 10px;
  }
  
  div {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw * 0.85);
    height: 3vh;

    padding: 10px;
  }

  
  h3 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw * 0.85);
    height: 3.5vh;
    background-color: rgb(134, 134, 134);
    padding: 10px;
    text-decoration: none;
  }
  html {
    font-size: 2vh;
  }
  }
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    text-align: left;
  }
  
  a {
    text-decoration: none;
  }

  h2 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw * 0.75);
    height: 4vh;
    padding: 10px;
  }
  
  div {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw * 0.75);
    height: 3vh;

    padding: 10px;
  }
  
  
  h3 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw * 0.75);
    height: 3.5vh;
    background-color: rgb(134, 134, 134);
    padding: 10px;
    text-decoration: none;
  }
  html {
    font-size: 2vh;
  }
  }

@media screen and (min-width: 1024px) {
  h1 {
    text-align: left;
  }
  
  a {
    text-decoration: none;
  }

  h2 {
    align-items: center;
    margin-left: auto;
    width: calc(100vw * 0.80);
    height: 4vh;
    padding: 10px;
  }
  .menubar {
    width: calc(100vw * 0.14);
    height: 3vh;
    padding: 10px;
  }
    
  h3 {
    align-items: center;
    margin-right: auto;
    width: calc(100vw * 0.14);
    height: 3.5vh;
    background-color: rgb(134, 134, 134);
    padding: 10px;
  }
  html {
    font-size: 2vh;
  }
  }
  
.ALL_SCREEN {
  display: flex;
}
