body {
    font-family:　Arial, Helvetica, sans-serif;
    margin: 0; /* bodyのデフォルトのmarginを削除 */
  }


a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: calc(100vw * 0.75);
    height: calc(100vw * 0.01);
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
