@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
    font-family: 'Noto Sans JP', sans-serif;

  }

.row {
  display: flex;
  width: 98vw; /* 端末の幅に合わせる */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* padding, borderを含めてwidth, heightを計算 */
}

.charas, .charas-right {
  width: calc(100vw * 0.75); /* 端末の幅の80% */
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(60, 60, 60);
}

.number, .numberb {
  width: calc(100vw * 0.1); /* 端末の幅の10% */
  height: 50px;
  background-color: white;
  border: 1px solid black;
}

#gacha_selects {
  width: calc(100vw * 0.5);
  margin-left: 10px;
}

#addButton {
  margin-left: 10px;
}

#seeds {
  margin-left: 10px;
}

h3 {
  margin-left: 10px;
}

#a_lot_of_function {
  margin-left: 10px;
}

#densetu {
  text-align: left;
  display: inline-block;
}

a {
  text-decoration: none;
}